version: "2.2"
services:
  postgres-dvdrental:
    container_name: "postgres-dvdrental"
    image: postgres:12-alpine
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dvdrental
    volumes:
      - ./:/postgres-setup