.gradle
.settings
target
.project
.classpath
.vscode
bin
tmp
runtime
gradle.properties
ephedra-sql-dvdrental/dvdrental-postgres/dvdrental.tar
platform-*
.DS_Store

# SDK related files
.sdk
build.gradle
Dockerfile
gradle
gradlew
gradlew.bat
metaphactory-release
metaphactory-release.war
README-SDK.md
settings.gradle