<ol class="page-breadcrumb">
    <li class="active">
        Demo
    </li>
</ol>

<div class="page">
  <div class='page__body'>
    <h2>Demo page</h2>
    
 
    <p><b>Example: Linked Data Documents from DBLP</b>
      
    <p>The following table lists the publications of <i>Peter Haase</i> and retrieves the data from DBLP Linked Data documents. Note that documents are followed recursively.</p>
    
    <semantic-context repository='ephedra-demo'>
      <semantic-table 
   	 query="
        PREFIX dblp: <https://dblp.org/rdf/schema-2020-07-01#>
        SELECT ?title ?year ?conference WHERE {
          BIND (<https://dblp.org/pid/h/PeterHaase1.rdf> AS ?ldDocument) .
          SERVICE <http://www.metaphacts.com/ontologies/platform/repository/federation#linked-data> {
            ?subj <http://www.metaphacts.com/ontologies/ld#document> ?ldDocument .
            ?subj <http://www.metaphacts.com/ontologies/ld#follow> dblp:authorOf . 
            ?subj dblp:authorOf ?publication .
            ?publication dblp:title ?title .
            ?publication dblp:yearOfPublication ?year .
            ?publication dblp:publishedInBook ?conference
          }
        }"
      column-configuration='[
          {"variableName": "title", "displayName": "Title"},
          {"variableName": "year", "displayName": "Year"},
          {"variableName": "conference", "displayName": "Conference"}
  			]'
      ></semantic-table>
		</semantic-context>
  
 
  </div>
</div>