[[#> "Template:http://wikidata.org/ontology/Item" customTabs=true]]
  [[#*inline "customTabs"]]
		
		[[#if (ask "ASK {?? wdt:P2456 ?dblpId}")]]
			<bs-tab event-key="6" title='Publications'>
			 <semantic-context repository='ephedra-demo'>
			<semantic-table 
			 query="
				PREFIX dblp: <https://dblp.org/rdf/schema-2017-04-18#>
				SELECT ?title ?year ?conference WHERE {
				  
				   BIND ('[[singleValueFromSelect "SELECT ?dblpUrlRdf WHERE {?? wdt:P2456 ?dblp . ?property  <http://wikiba.se/ontology#directClaim> wdt:P2456 ; wdt:P1630 ?url_template .BIND(REPLACE(?url_template, '\\$1', ?dblp) AS ?url) .  BIND (CONCAT(STR(?url), '.rdf') AS ?dblpUrlRdf) . } "]]' AS ?ldDocument) .
					
					
				  SERVICE <http://www.metaphacts.com/ontologies/platform/repository/federation#linked-data> {
					?subj <http://www.metaphacts.com/ontologies/ld#document> ?ldDocument .
					?subj <http://www.metaphacts.com/ontologies/ld#follow> <https://dblp.org/rdf/schema-2017-04-18#authorOf> . 
					?subj <http://www.metaphacts.com/ontologies/ld#followSilent> true .
					
					?subj dblp:authorOf ?publication .
					?publication dblp:title ?title .
					?publication dblp:yearOfPublication ?year .
					?publication dblp:publishedInBook ?conference
				  }
				}"
			  column-configuration='[
					{"variableName": "title", "displayName": "Title"},
					{"variableName": "year", "displayName": "Year"},
					{"variableName": "conference", "displayName": "Conference"}
					]'
			  ></semantic-table>
			</semantic-context>
		  </bs-tab>
		[[/if]]
			
			
			
		[[#if (ask "ASK {?? wdt:P2456 ?dblpId}")]]
			<bs-tab event-key="7" title='Co-Authors'>
			 <semantic-context repository='ephedra-demo'>
			  <semantic-table 
			 query="
				SELECT ?name ?coAuthor WHERE {
				  
				   BIND ('[[singleValueFromSelect "SELECT ?dblpUrlRdf WHERE {?? wdt:P2456 ?dblp . ?property  <http://wikiba.se/ontology#directClaim> wdt:P2456 ; wdt:P1630 ?url_template .BIND(REPLACE(?url_template, '\\$1', ?dblp) AS ?url) .  BIND (CONCAT(STR(?url), '.rdf') AS ?dblpUrlRdf) . } "]]' AS ?ldDocument) .
					
					
				  SERVICE <http://www.metaphacts.com/ontologies/platform/repository/federation#linked-data> {
					?subj <http://www.metaphacts.com/ontologies/ld#document> ?ldDocument .
					?subj <http://www.metaphacts.com/ontologies/ld#follow> <https://dblp.org/rdf/schema-2017-04-18#coCreatorWith> .
					?subj <http://www.metaphacts.com/ontologies/ld#followSilent> true . 
					  ?subj <https://dblp.org/rdf/schema-2017-04-18#coCreatorWith> ?coAuthor .
							?coAuthor <https://dblp.org/rdf/schema-2017-04-18#primaryFullPersonName> ?name .
				  }
				}"
			  column-configuration='[
				  {"variableName": "name", "displayName": "Name",
				   "cellTemplate": "<a href=\"{{coAuthor.value}}\" target=\"_BLANK\">{{name.value}}</a>"
				  }
					]'
			  ></semantic-table>
			  </semantic-context>
		  </bs-tab>
		[[/if]]
  [[/inline]]
[[/Template:http://wikidata.org/ontology/Item]]
